<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wall-CG" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%= image_tag 'logo.png', size: "50x50" %></li>
          <li><%= link_to "Upload images", uploads_path %></li>
          <li><%= link_to "Vouchers", vouchers_path %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <%= yield :sidebar %>

  </body>
</html>
