<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wall-CG" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag 'logo.png', size: "25x25" %>
          </a>
          <a class="navbar-brand" href="/">
            Wall CG
          </a>
          <ul class="nav navbar-nav">
            <li><%= link_to "Upload images", uploads_path %></li>
            <li><%= link_to "Vouchers", vouchers_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
      <%= yield :sidebar %>
    </div>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  </body>
</html>
