<h1>Processed vouchers</h1>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Tesseract</th>
      <th>OCR Space</th>
      <th>Google Cloud Vision</th>
    </tr>
  </thead>
  <% @vouchers.each do |voucher| %>
    <tbody>
      <tr>
        <td><%= image_tag voucher.image_url, width: '200' if voucher.image %></td>
        <td><%= voucher.code_tesseract %></td>
        <td><%= voucher.code_ocr_space %></td>
        <td><%= voucher.code_google %></td>
      </tr>
    </tbody>
<% end %>
</table>
<%= paginate @vouchers %>
