<h1>Processed vouchers</h1>
<table id="processedVouchers" class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>
        <%= image_tag 'ocr/tesseract.png' %>
        <br />
        <b>Tesseract</b>
      </th>
      <th>
        <%= image_tag 'ocr/google-cloud-vision.png' %>
        <br />
        <b>Google Cloud Vision</b>
      </th>
      <th>
        <%= image_tag 'ocr/microsoft-azure.png' %>
        <br />
        <b>Computer Vision</b>
      </th>
    </tr>
  </thead>
  <% @vouchers.each do |voucher| %>
    <tbody>
      <%= form_for voucher do |f| %>
        <% codes = [voucher.code_tesseract, voucher.code_google, voucher.code_computer_vision] %>
        <tr class="voucher-row">
          <td class="voucher-code">
            <%= image_tag voucher.image_url, width: '200' if voucher.image %>
            <br />
            <br />
            <div class="form-group">
              <%= f.text_field :code, class: 'form-control' %>
            </div>
            <%= f.submit 'Save code', class: 'btn btn-primary' %>
          </td>
          <td>
            <div class="input-group">
              <%= f.text_field :code_tesseract, readonly: true, cols: 20, rows: 3, class: 'form-control'  %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
              </span>
              <% if (codes.count(voucher.code_tesseract) > 1) %>
                <span class="glyphicon glyphicon-ok pull-right voucher-match"></span>
              <% end %>
            </div>
          </td>
          <td>
            <div class="input-group">
              <%= f.text_field :code_google, readonly: true, cols: 20, rows: 3, class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
              </span>
              <% if (codes.count(voucher.code_google) > 1) %>
                <span class="glyphicon glyphicon-ok pull-right voucher-match"></span>
              <% end %>
            </div>
          </td>
          <td>
            <div class="input-group">
              <%= f.text_field :code_computer_vision, readonly: true, cols: 20, rows: 3, class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
              </span>
              <% if (codes.count(voucher.code_computer_vision) > 1) %>
                <span class="glyphicon glyphicon-ok pull-right voucher-match"></span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
<% end %>
</table>
<%= paginate @vouchers %>
